main {
    padding: 2rem;
}

main h1 {
    margin-bottom: 1rem;
}

.form-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.form-container .form-section {
    width: 50%;
    box-shadow: 10px 5px 5px #ddd;
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 1rem;
}

.form-container .form-section .input-group {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
}

.form-container .form-section .input-group label {
    width: 30%;
}

.form-container .form-section .input-group input,
.form-container .form-section .input-group select,
.form-container .form-section .input-group textarea {
    width: 70%;
    font-size: 18px;
    padding: .5rem;
}

.form-container .form-section .input-group input[type=submit] {
    width: 30%;
    margin: auto;
    border: none;
    outline: none;
    padding: .5rem 0;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.form-container .approver-section {
    width: 40%;
}

.form-container .approver-section ul {
    list-style-type: none;
    height: 200px;
    border: 1px solid black;
    margin: 1rem 0;
}

.form-container .approver-section ul li {
    border-bottom: 1px solid black;
    padding: .5rem;
    background-color: #eee;
    color: #777;
}

.action-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.action-container form{
    width: 50%;
    margin-right: 1rem;
}

.action-container form input[type=submit]{
    width: 100%;
    border: none;
    outline: none;
    padding: .5rem 0;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.action-container form input[type=submit].return {
    background-color: var(--primary-color);
    color: white;
}

.action-container form input[type=submit].cancel {
    background-color: var(--danger-color);
    color: white;
}

@media only screen and (max-width: 900px) {
    .form-container {
        flex-direction: column;
    }

    .form-container .form-section {
        width: 100%;
        margin-bottom: 2rem;
    }

    .form-container .approver-section {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    main {
        padding: 2rem .5rem;
    }

    .form-container .form-section .input-group {
        flex-direction: column;
        align-items: start;
    }

    .form-container .form-section .input-group label {
        width: 100%;
    }

    .form-container .form-section .input-group input,
    .form-container .form-section .input-group select,
    .form-container .form-section .input-group textarea {
        width: 100%;
    }

    .form-container .form-section .input-group button{
        width: 70%;
    }
}